*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus {
  outline: 1px dashed #ff7400;
  outline-offset: 2px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

h1 {
  font-weight: 400;
  font-size: 8rem;
  line-height: 1.18;
  color: #d67e35;
  font-family: "Tinos", "Comfortaa", cursive;
}

h2 {
  font-family: "Tinos", "Comfortaa", cursive;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 1.14;
  color: #000;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 5.1rem;
  line-height: 1.1;
  color: #d67e35;
  font-family: "Tinos", "Comfortaa", cursive;
  margin: 0;
}

h4 {
  font-family: "Tinos", "Comfortaa", cursive;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1;
  color: #2C2C2C;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 2.6rem;
  line-height: 1.15;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list li {
  margin-right: 2.3rem;
}
@media only screen and (max-width: 992px) {
  .header__list li {
    margin-right: 1rem;
  }
}
.header__list a {
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 1.35;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__list a:hover {
  color: #ff7400;
}
.header__list a:active {
  color: #FFF;
  opacity: 0.6;
}
.header__list p {
  width: 100%;
  max-width: 154px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.35;
  color: #FFF;
}
.header__list div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-img {
  padding-right: 19px;
  padding-top: 19px;
  padding-bottom: 10px;
  border-right: 1px solid #fff;
}

.history ul {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .history ul {
    margin-top: 2rem;
  }
}
.history li:not(:last-child) {
  margin-right: 3.5rem;
}
.history li {
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .history li h3 {
    font-size: 3.5rem;
  }
}

.right-nav {
  z-index: 40;
  width: 60vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(158, 100, 43);
  top: 0;
  left: 0;
  padding: 2rem;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .right-nav {
    display: inline-block;
  }
}
.right-nav .sitenav {
  position: absolute;
  bottom: 30px;
}

.right-nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.right-nav .sitenav-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 1.5rem;
}

.toggle {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.remove {
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  /* opacity: 0.1; */
  background-color: #fff;
}

.right-nav .sitenav-link {
  font-size: 2rem;
  color: #fff;
}

.right-nav .sitenav-link {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  outline: none;
}
.right-nav .sitenav-link:hover {
  color: #ff7400;
}

.right-nav .sitenav-link::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.right-nav .sitenav-link:hover::after {
  width: 50%;
  color: #222;
}

.right-nav a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  right: 50%;
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.right-nav a:hover::before {
  width: 50%;
  color: var(--secondary-color);
}

.right-nav-btn {
  border: 1px solid #d8d8d8;
  outline: none;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0px 10px 4px 10px;
  border-radius: 50%;
  color: #fff;
}

.remove-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal .container {
  margin-bottom: -221px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 4.2rem;
}
@media only screen and (max-width: 992px) {
  .meal .container {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 3rem;
    margin-bottom: -721px;
  }
}
@media only screen and (max-width: 768px) {
  .meal .container {
    margin-bottom: -821px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .meal .container {
    margin-bottom: -821px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  .meal .container .meal__wrapper {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}
.meal .container .meal__wrapper {
  text-align: center;
  width: 100%;
  max-width: 349;
  padding: 5rem 1.6rem 3rem;
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.meal .container .meal__wrapper h4 {
  margin-bottom: 2rem;
}
.meal .container .meal__wrapper span {
  color: #BC9060;
  margin-bottom: 2rem;
}
.meal .container .meal__wrapper p {
  font-family: "Tinos", "Comfortaa", cursive;
  font-size: 2.6rem;
  line-height: 1.15;
  color: #656363;
}
.meal .container .meal__wrapper:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .meal__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2.5rem;
  }
}

.wrapper {
  background-image: url("");
  margin-bottom: 370px;
}

.header {
  padding-top: 50px;
  padding-bottom: 203px;
}
.header .header__logo {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header__logo:hover {
  opacity: 0.8;
}
.header .header__logo:active {
  opacity: 0.6;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .bars-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header .container nav {
    display: none;
  }
  .header .container .bars-btn {
    display: block;
    background-color: transparent;
  }
  .header .container .site-btn {
    display: none;
  }
}
.header .header__logo {
  margin-right: auto;
  width: 100px;
  height: 68px;
}
@media only screen and (max-width: 768px) {
  .header .header__logo {
    width: 80px;
    height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .header .header__logo {
    width: 65px;
    height: 30px;
  }
}

.right-nav {
  display: none;
}
@media only screen and (max-width: 768px) {
  .right-nav {
    display: inline;
  }
}

.call-link p {
  margin-left: 8px;
}

.hero h1 {
  margin: 0;
  margin-bottom: 12px;
}
.hero .site-btn {
  margin-bottom: 124px;
}
.hero .hero-wrapper {
  width: 100%;
  max-width: 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .hero .hero-wrapper {
    margin: 0 auto;
  }
  .hero .hero-wrapper h3 {
    font-size: 4rem;
  }
  .hero .hero-wrapper h1 {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero .hero-wrapper {
    margin: 0 auto;
  }
  .hero .hero-wrapper h3 {
    font-size: 2.3rem;
  }
  .hero .hero-wrapper h1 {
    font-size: 4.5rem;
  }
  .hero .hero-wrapper .text-wrapper span {
    display: none;
  }
  .hero .hero-wrapper .text-wrapper p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .hero .hero-wrapper {
    margin: 0 auto;
  }
  .hero .hero-wrapper h3 {
    font-size: 2rem;
  }
  .hero .hero-wrapper h1 {
    font-size: 4rem;
  }
  .hero .hero-wrapper .text-wrapper span {
    display: none;
  }
  .hero .hero-wrapper .text-wrapper p {
    font-size: 1.8rem;
  }
}
.hero .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  margin-bottom: 21px;
}
.hero .text-wrapper p {
  margin: 0 8px;
}
.hero .text-wrapper span {
  width: 61px;
  height: 2px;
  background-color: #4c4c4c;
  display: inline-block;
}

.footer img {
  width: 100%;
  height: auto;
}
.footer img:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.history {
  margin-bottom: 12.2rem;
}
.history .container {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .history .container {
    padding-bottom: 500px;
    margin-top: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .history .container {
    padding-bottom: 250px;
  }
}
.history .container .text-wrapper {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 444px;
}
@media only screen and (max-width: 992px) {
  .history .container .text-wrapper {
    width: 100%;
    max-width: 700px;
  }
}
.history .container h2 {
  margin-bottom: 2.1rem;
}
.history .container h2 span {
  color: #BC9060;
}
@media only screen and (max-width: 768px) {
  .history .container h2 {
    font-size: 4.5rem;
  }
}
.history .container p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.35;
}
.history .container img {
  position: absolute;
}
.history .container img:hover {
  z-index: 4;
}
.history .container .cake {
  right: 100px;
}
@media only screen and (max-width: 992px) {
  .history .container .cake {
    padding: 0 auto;
    bottom: 0;
    right: 340px;
  }
}
@media only screen and (max-width: 768px) {
  .history .container .cake {
    right: 240px;
  }
}
@media only screen and (max-width: 576px) {
  .history .container .cake {
    width: 137px;
    height: 221px;
    right: 210px;
  }
}
.history .container .kitay {
  right: 260px;
}
@media only screen and (max-width: 992px) {
  .history .container .kitay {
    padding: 0 auto;
    bottom: 0;
    right: 510px;
  }
}
@media only screen and (max-width: 768px) {
  .history .container .kitay {
    right: 380px;
  }
}
@media only screen and (max-width: 576px) {
  .history .container .kitay {
    width: 155px;
    height: 184px;
    right: 290px;
  }
}
.history .container .flower {
  right: 0px;
  bottom: -67px;
}
@media only screen and (max-width: 992px) {
  .history .container .flower {
    padding: 0 auto;
    bottom: -67;
    right: 230px;
  }
}
@media only screen and (max-width: 768px) {
  .history .container .flower {
    right: 100px;
  }
}
@media only screen and (max-width: 576px) {
  .history .container .flower {
    right: 140px;
    bottom: -50px;
    width: 136px;
    height: 154px;
  }
}
.history .container .box {
  top: 20px;
  right: 52px;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .history .container .box {
    padding: 0 auto;
    bottom: 0;
    top: 470px;
    right: 290px;
  }
}
@media only screen and (max-width: 768px) {
  .history .container .box {
    top: 410px;
    right: 190px;
  }
}
@media only screen and (max-width: 576px) {
  .history .container .box {
    top: 380px;
    right: 160px;
    width: 194px;
    height: 110px;
  }
}

.sale {
  margin-bottom: 13rem;
  padding: 9rem 0;
}
.sale .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .sale .container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.sale .container div {
  margin: 0 auto;
  width: 100%;
  max-width: 601px;
}
@media only screen and (max-width: 992px) {
  .sale .container div {
    text-align: center;
    width: 100%;
    max-width: 540px;
  }
}
.sale .container div h3 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 992px) {
  .sale .container div h3 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .sale .container div h3 {
    font-size: 4.25rem;
  }
}
@media only screen and (max-width: 576px) {
  .sale .container div h3 {
    font-size: 4rem;
  }
}
.sale .container div p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.35;
  color: #FFF;
}
@media only screen and (max-width: 992px) {
  .sale .container div p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.sale .container .secondary-btn {
  margin-bottom: 2.9rem;
  margin: 0 auto;
}

.dishes {
  margin-bottom: 15rem;
}
.dishes h2 {
  text-align: center;
  margin-bottom: 14rem;
}
@media only screen and (max-width: 768px) {
  .dishes h2 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .dishes h2 {
    font-size: 4.5rem;
    margin-bottom: 10rem;
  }
}
.dishes h2 span {
  color: #BC9060;
}
.dishes .dishes__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .dishes .dishes__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.dishes .dishes__wrapper img {
  margin-right: 3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .dishes .dishes__wrapper img {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .dishes .dishes__wrapper ul {
    margin-right: 3.9rem;
  }
}
.dishes .dishes__wrapper li {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dishes .dishes__wrapper li p {
  font-family: "Tinos", "Comfortaa", cursive;
  font-size: 2.6rem;
  line-height: 1.15;
}
@media only screen and (max-width: 576px) {
  .dishes .dishes__wrapper li p {
    margin-left: 1rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .dishes .dishes__wrapper li p span {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .dishes .dishes__wrapper li img {
    width: 140px;
    height: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .dishes .dishes__wrapper li:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.menu {
  padding-bottom: 22.1rem;
}
.menu h2 {
  text-align: center;
  color: #FFF;
  margin-bottom: 13.8rem;
  padding-top: 10rem;
}
.menu .menu__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 3rem;
}
@media only screen and (max-width: 912px) {
  .menu .menu__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media only screen and (max-width: 576px) {
  .menu .menu__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.menu .menu__wrapper div {
  padding-bottom: 22.1rem;
  position: relative;
  width: 100%;
  max-width: 350px;
  background-color: #FFF;
  padding-top: 8rem;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 2.9rem;
  text-align: center;
}
@media only screen and (max-width: 912px) {
  .menu .menu__wrapper div {
    margin: 0 auto;
  }
}
.menu .menu__wrapper div .rec {
  padding: 0.7rem 1.5rem 1.1rem;
  width: 100%;
  max-width: 124px;
  background-color: #d67e35;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  text-align: center;
  color: #000;
}
.menu .menu__wrapper div .img-span {
  width: 100%;
  max-width: 93px;
  height: 93px;
  border: 7px solid #FFF;
  border-radius: 50%;
  position: absolute;
  background-color: #d67e35;
  font-family: "Cookie", "Comfortaa", cursive;
  font-size: 3rem;
  line-height: 1.1;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 200px;
  right: 50px;
}
.menu .menu__wrapper div img {
  margin-bottom: 2.2rem;
}
.menu .menu__wrapper div h5 {
  font-family: "Tinos", "Comfortaa", cursive;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.15;
  margin-bottom: 1.7rem;
}
.menu .menu__wrapper div p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 1.35;
  margin-bottom: 2rem;
}
.menu .menu__wrapper div .secondary-btn {
  margin: 0 auto;
}

.gest {
  background-color: #e5e5e5;
  padding-top: 10.4rem;
  padding-bottom: 13.9rem;
  text-align: center;
}
.gest p {
  margin: 0 auto;
  font-style: italic;
  width: 100%;
  max-width: 910px;
  font-size: 2rem;
  line-height: 1.35;
  margin-bottom: 3rem;
}
.gest p:last-child {
  font-style: normal;
}
.gest img {
  margin-bottom: 1.6rem;
}
.gest h5 {
  margin-bottom: 0.9rem;
}

.galery {
  margin-bottom: 10rem;
  position: relative;
}
.galery .red {
  position: absolute;
  top: 110px;
  right: 0px;
  width: 30px;
  height: 100px;
  display: block;
  background-color: #f00;
}
@media only screen and (max-width: 768px) {
  .galery .red {
    display: none;
  }
}
.galery span {
  position: absolute;
  top: 110px;
  width: 30px;
  height: 100px;
  display: block;
  background-color: #f00;
}
@media only screen and (max-width: 768px) {
  .galery span {
    display: none;
  }
}
.galery .container h2 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 6rem;
}
.galery .container h2 b {
  font-weight: 400;
  color: #d67e35;
}
.galery .container img {
  padding: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .galery img {
    width: 100%;
    height: auto;
  }
  .galery span {
    top: 10px;
  }
  .galery .red {
    top: 10px;
  }
}
@media only screen and (max-width: 1005px) {
  .galery img {
    width: 100%;
    height: auto;
  }
  .galery span {
    top: 10px;
  }
  .galery .red {
    top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .galery img {
    width: 350px;
    height: 274px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.cooker {
  margin-bottom: 10rem;
}
.cooker h2 {
  text-align: center;
  margin-bottom: 10.7rem;
}
@media only screen and (max-width: 576px) {
  .cooker h2 {
    font-size: 4rem;
  }
}
.cooker h2 span {
  color: #d67e35;
}
.cooker .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 400px) {
  .cooker .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cooker .container ul li:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 576px) {
  .cooker .container ul li:not(:last-child) {
    margin-right: 1rem;
  }
}

img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 0;
}

.site-btn {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.35;
  color: #FFF;
  padding: 1.3rem 1.75rem;
  background-color: #ff7400;
  border: 1px solid #ff7400;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.site-btn:hover {
  background-color: #FFF;
  color: #ff7400;
}
.site-btn:active {
  background-color: #ff7400;
  color: #FFF;
  opacity: 0.6;
}

.secondary-btn {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.35;
  color: #FFF;
  padding: 1.4rem 6.75rem;
  background-color: #d67e35;
  border: 1px solid #d67e35;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary-btn:hover {
  background-color: #FFF;
  color: #d67e35;
}
.secondary-btn:active {
  background-color: #d67e35;
  color: #FFF;
  opacity: 0.6;
}

.wrapper {
  background-image: url("../images/png/hero-image.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale {
  background-image: url("../images/png/bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  background-image: url("../images/png/menu-bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}