$color-primary:#ff7400;
$color-text:#d67e35;
$color-second-title:#BC9060;
$color-secondary:#656363;
$color-title:#2C2C2C;
$color-black:#000;
$color-white:#FFF;
$color-span:#4c4c4c;
$color-bg:#e5e5e5;
$color-red:#f00;

// FONTS
$tinos:"Tinos",'Comfortaa', cursive;
$open:"Open Sans", "Arial", sans-serif;
$cookie:"Cookie","Comfortaa", cursive;